<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sistema.DAO.Properties.Settings.banco" connectionString="server=127.0.0.1;user id=root;password=278701;persistsecurityinfo=True;database=ProjetoMVC"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>